<div {{ attributes }}>
    {% if link is defined and link %}
        <a href="{{ link.url }}" title="{{ link.title }}">
            <video autoplay muted playsinline {{ stimulus_controller('webcam', {url: url}) }}></video>
        </a>
    {% else %}
        <video autoplay muted playsinline {{ stimulus_controller('webcam', {url: url}) }}></video>
    {% endif %}
</div>
